version: 2.1

commands:
  - test-js:
      - steps:
          - run:
              name: Run TypeScript check
              command: |
                mkdir -p test-results/type-check
                yarn type-check
          - run:
              name: Run ESlint check
              command: |
                mkdir -p test-results/lint
                yarn lint:ci
          - run:
              name: Run Jest tests
              command: |
                mkdir -p test-results/jest
                yarn test
              environment:
                JEST_JUNIT_OUTPUT: test-results/jest/junit.xml

jobs:
  node:
    working_directory: ~/animations-wix-ci-itechart
    docker:
      - image: cimg/node:12.16

    steps:
      - checkout

      - restore_cache:
          key: yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}

      - restore_cache:
          key: node-v1-{{ checksum "package.json" }}-{{ arch }}

      - run: yarn install

      - save_cache:
          key: yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}
          paths:
            - ~/.cache/yarn

      - save_cache:
          key: node-v1-{{ checksum "package.json" }}-{{ arch }}
          paths:
            - node_modules

      - test-js

      - persist_to_workspace:
          root: ~/animations-wix-ci-itechart
          paths:
            - node_modules

      - store_test_results:
          path: test-results

      - store_artifacts:
          path: test-results

workflows:
  node:
    jobs:
      - node
